@charset "UTF-8";

/*Fonts*/

@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

@import url(http://fonts.googleapis.com/css?family=Dancing+Script:400,700);

@import url(http://fonts.googleapis.com/css?family=Bad+Script);

/*End Fonts*/

body {
	background: url(resources/textures/asfalt_light.png) repeat fixed;
}

#wrapper {
	padding-bottom: 50px;
	padding-left: 0;
	padding-right: 0;
	background: url(resources/textures/cream_dust.png) repeat;
	-moz-box-shadow: 0 0 30px -7px #000;
	-webkit-box-shadow: 0 0 30px -7px #000;
	box-shadow: 0  0 30px -7px #000;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
#nav-banner {
	width: 100%;
}

.carousel-inner .item img {
	width: 100%;
}

/* Tags & Common Styles */

a:link {
	color: #000080;
	text-decoration: underline;
}

a:hover {
	color: #C03;
	text-decoration: none;
}

a:active {
	color: #000080;
	text-decoration: underline;
}

a:visited {
	color: #000080;
	text-decoration: underline;
}

hr {
	width: auto;
	padding-right: 50px;
	padding-left: 50px;
	border-style: dashed;
	border-color: #3C2009;
}

.title {
	padding-top: 20px;
	padding-bottom: 30px;
	font: 70px 'dancing script', cursive, serif;
	color: #000000;
	width: 100%;
	text-align: center;
	display:block;
	margin-right: auto;
	margin-left: auto;
}

.titlesmall {
	padding-top: 20px;
	padding-bottom: 30px;
	font: 50px 'dancing script', cursive, serif;
	color: #000000;
	width: 100%;
	text-align: center;
	display:block;
	margin-right: auto;
	margin-left: auto;
}

.floatmiddle {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.fullwidthstitch {
	
	width: auto;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom:20px;
    background: #FFF;
   color: #000;
   font-size: 26px;
   font-weight: bold;
   line-height: 1.3em;
   border: 2px dashed #000;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #FFF, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #CCC;
   font-weight: normal;		
   text-align: center;
	
}

.fullwidthstitch18 {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
	padding-bottom:20px;
	background: #FFF;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.3em;
	border: 2px dashed #000;
	border-radius: 10px;
	box-shadow: 0 0 0 4px #FFF, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
	text-shadow: -1px -1px #CCC;
	font-weight: normal;		
}

/* End Tags & Common Styles */


/* Navbar */

#navcontainer .navbar {
	background: url(resources/textures/darkbrown_linen.png) repeat;
	font-family: 'Cardo', serif;
	font-size: 24px;
	margin-bottom: -2px;
	border: none;
}
.navbar-default .navbar-nav>li>a {
	color: white;
	text-decoration: none;
}
.navbar-default .navbar-nav>li>a:hover {
	color: red;
}

@media (min-width: 768px) and (max-width: 1000px) {
   .collapse {
       display: none !important;
   }
}

.carousel {
	margin: -10px;
}
.carousel a.carousel-control {
	color: white;
}
.carousel .carousel-control:hover {
	color: pink;
}

#lace {
	z-index: 89;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.content-container {
	position: relative;
	padding: 10px;
}
.content-container.with-top-padding {
	padding-top: 70px;
}

h1.big-header {
	font: 50px 'dancing script',cursive,serif;
} 
h3.nice-header {
  font: 25pt'dancing script',cursive,serif;
}
h4.nice-header {
  font: 20pt'dancing script',cursive,serif;
}

# navbar a {
	float: left;
	display: block;
}

.current {
	font-color: #c03;
}

/* End Navbar */


.stitched-border {
   border: 2px dashed #000;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #FFF, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   font-size: 24px;
   text-shadow: rgb(204, 204, 204) -1px -1px 0px;
}
.col-md-11.stitched-border {
   margin-left: 4%;
   margin-right: 4%;
   padding: 10px;
}
.stitched-border h4 {
  font: 20pt'dancing script',cursive,serif;
}
.stitched-border.pink {
	background-color: #FF829B;
	color: white;
	font-family: 'bad script', serif;
	font-size: 30px;
	text-shadow: rgb(170, 48, 48) -1px -1px 0px;
	border-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}
.stitched-border.pink .bigger {
  font: 80px'dancing script',cursive,serif;
  text-align: center;
}
.stitched-border.pink .tagline {
  margin: auto;
  width: 50%;
  text-align: center;
}
.stitched-border.pink hr {
	border-color: white;
}
.fancy-header {
  font: 25px 'bad script',serif;
}

/* Begin Index Page Styles */

#curlleft {
	z-index: 7;
	position: absolute;
	bottom: 10px;
	left: 10px;
}
#curlright {
	z-index: 7;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

/* End Index Page Styles */

/* Begin Sweets Styles */

.sweetsnames {
	font: 16.5px 'cardo', serif;
	font-style: italic;
	font-weight: bold;
	color: #000000;
	padding-bottom: 7px;
	vertical-align: top;
	text-align: center;
}

.flavor {
	padding: 15px;
	text-align:center;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.flavor .price {
	display: block;
	color: #7D0552;
}

/* 				End Sweets Styles				 */

/* 				Begin Wedding Styles				 */

#wedintrotext {
	/*width: 800px;
	height: auto;*/
	padding-top: 40px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font: italic 24px 'Cardo', serif;
}
.wedtitle {
	font: 50px 'dancing script', cursive, serif;
	color: #000000;
	width: 100%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

/* 				End Wedding Styles				 */



/* 				Begin Contact Styles				 */

.facebook-like-box {
	width: 100% !important;
	height: 180px;
	border-bottom: 1px solid #d8dfea;
}

/* 				End Contact Styles				 */


/*  Begin Meet the Bakers Styles   */

.meetname {
font: 40px 'dancing script', cursive, serif;	
}

/*  End Meet the Bakers Styles   */

/* 						Begin Gallery Styles 									*/


.galleryfacebook {
font-size: 21px;
margin-left: auto;
margin-right: auto;
width: 600px;
}

.galleryhr {
width: 900px;
margin-left: auto;
margin-right: auto;	
}

.gallerystitch {
	width: auto;
	height: auto;
	padding-left: -15px;
	padding-right: -15px;
	padding-top:  -30px;
	padding-bottom: -40px;
  background: #FFF;
   color: #000;
   font-size: 21px;
   font-weight: bold;
   line-height: 1.3em;
   border: 2px dashed #000;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #FFF, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #CCC;
   font-weight: normal;	

	
}


/* 						End Gallery Styles 									*/


/* 						Begin Savories Styles 							*/

.tab 
	{
	padding-left: 15px;
	padding-right: 15px;
	font-size: 16px;
	}

/* 						End Savories Styles 							*/

/* 						Begin Footer Styles 									*/

#footer {
	z-index: -2;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 15px;
	padding-bottom: 40px;
	padding-top: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
		
}

#footertext {
	margin-top: -15px;
	width: 985px;
	float:right;
	text-align: right;
	line-height: 70%;
	font: 10px 'cardo', serif;
	color: #333333;
	padding-bottom: 5px;
	margin-right: 5px;
	
}

#footerlinks{
	
	padding-left: 10px;
	float: left;
	font-color: #333;
	font: 14px 'Cardo', serif;
	color: #000;
	text-align: left;
	list-style-type: none;
}

#footerlinks li a:visited{
	color: #c03;
	font-style: none;
}

#footerlinks li a:active{
	color: #006;
	font-style: none;
}
#footerlinks li a:hover{
	color: #C03;
	font-style: none;
}
/* 										End Footer Styles 							*/
#yoxviewcontainer {
	height: auto;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}

.panel {
	-webkit-box-shadow: 7px 7px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    7px 7px 0px rgba(50, 50, 50, 0.75);
box-shadow:         7px 7px 0px rgba(50, 50, 50, 0.75);
	
}
.superboxcenter {
	width: auto;
	margin-right: auto;
	margin-left: auto;
}

/* Redirect Styles */

#wrapperredirect {

	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	margin-top: -10px;
	align: center;
	width: 500px;
	height: auto;
	background: url(resources/textures/cream_dust.png) repeat;
	-moz-box-shadow: 0 0 30px -7px #000;
	-webkit-box-shadow: 0 0 30px -7px #000;
	box-shadow: 0  0 30px -7px #000;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}